.truck_item{
    border: 1px solid #768a9736;
    padding: 20px;
    border-radius: 5px;
}
.truck_item-info span{
    color: #f9a826;
    font-size: 1.1rem;
}
.truck_item-btn{
    border-radius: 0;
    border: none;
    outline: none;
    background: #000d6b;
    padding: 8px 0px;
}
.truck_item-btn a{
    text-decoration: none;
    color: #fff;
    font-style: 500;
}
.truck_btn-details{
    background: #f9a826;
    border-radius: 0px 4px 4px 0px;
}


.truck_btn-rent{
    border-radius: 4px 0px 0px 4px;
}
.truck_item-content h4{
   font-size: 1.8rem;
}
.truck_item-content h6{
    font-size: 1.2rem;
    font-weight: 600;
}
@media only screen and (max-width: 992px){
    .truck_item h4{
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    .truck_item h6{
        font-size: 1rem;
        margin-top: 10px;
    }
    .truck_item-info{
        flex-wrap: wrap;
    }
    .truck_item-info span{
        font-size: .8rem;
        justify-content: space-between;
    }
    .truck_item-btn{
        padding:5px 10px;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:768px){
    .truck_item h4{
        font-size: 1rem;
    }
    .truck_item h6{
        font-size: 0.9rem;
    }
    .truck_item-info span{
       font-size: 0.7rem;
    }
    .truck_item-info span i{
        font-size: 0.9rem;
    }
    .truck_item-btn {
        font-size: 0.8rem;
    }
}